#translations {
  width: 100%;
  float: right;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;

    li {
      display: inline;
      float: right;

      a {
        //text-decoration: none;
        &.current {
          color: green;
        }

        &:hover {
          background-color: #b5acac;
        }
      }
    }
  }
}
