{{if .IsTranslated}}
<nav id="translations" >
    <ul>
        {{range $i,$item:=.Translations}}
        <li >
            <a href="{{$item.Permalink}}">
                {{if ne ($item.Param "languageFlagImgPath") ""}}
                <span>
                <img alt="Flag spain" style="width: 0.75rem;height: 0.75rem" src="{{$item.Param " languageFlagImgPath"}}" >
            </span>
                {{end}}
                <h4 style="display: inline">{{.Site.Language.LanguageName}}</h4>

                {{if ne $i 0}}|&nbsp;{{end}}
            </a>
        </li>

        {{end}}
        <li >
            <a class="current">
                <h4>
                    <b>
                        &rarr;&nbsp;{{.Site.Language.LanguageName}}&nbsp;|&nbsp;
                    </b>
                </h4>

            </a>
        </li>
    </ul>

</nav>
{{end}}
